.eprel-effective-icon::after {
    content: 'bwd' !important;
    position: absolute !important;
    right: 7px;
    top: 7px;
    color: #fffefe;
    font-family: initial;
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    border-radius: 3px;
    font-size: 11px;
    padding: 2px 5px;
    font-style: normal;
}
#elementor-panel-category-bwdthebest_general_category .elementor-panel-category-title {
    background: linear-gradient(90deg, #f441a5, #03a9f4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
#elementor-panel-category-bwdthebest_general_category .elementor-panel-category-title:before{
    -webkit-text-fill-color: #7a7a7a;
}
  
@font-face {
  font-family: 'pre-loader';
  src: url('../font/pre-loader.eot?43874724');
  src: url('../font/pre-loader.eot?43874724#iefix') format('embedded-opentype'),
       url('../font/pre-loader.woff2?43874724') format('woff2'),
       url('../font/pre-loader.woff?43874724') format('woff'),
       url('../font/pre-loader.ttf?43874724') format('truetype'),
       url('../font/pre-loader.svg?43874724#pre-loader') format('svg');
  font-weight: normal;
  font-style: normal;
}



.eprel-effective-icon:before { 
  content: '\e834'; 
  font-family: "pre-loader";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 